
/*Qurxinta qoralka*/
body {
  line-height:1.6em;
  font-size:0.875em; /*1em=16px*/
  font-family:Verdana,Garamond,Georgia,"Times New Roman",serif;
}

h1 {
  font-family:Verdana,Garamond,Georgia,"Times New Roman",serif;
  font-weight:lighter;
  font-size:3.23em;
}

h2 {
  font-family:Verdana,Garamond,Georgia,"Times New Roman",serif;
  font-weight:lighter;
  font-size:2.42em;
  line-height:1.5em;
}

h3 {
  font-family:Verdana,Garamond,Georgia,"Times New Roman",serif;
  font-weight:lighter;
  font-size:1.61em;
}

/*qurxinta tixaha*/
pre {
  white-space:pre-wrap; /* Since CSS 2.1 */
  white-space:-moz-pre-wrap; /* Mozilla, since 1999 */
  white-space:-pre-wrap; /* Opera 4-6 */
  white-space:-o-pre-wrap; /* Opera 7 */
  word-wrap:break-word; /* Internet Explorer 5.5+ */
  line-height:1.5em;
  font-family:Verdana,Garamond,Georgia,"Times New Roman",serif;
}

/*ballarinta ereyada*/
dt {
 /* font-weight:600; */
}

/*ereyada oo dhexda ku urruuriyey*/
main {margin:auto;max-width:50em;}

/*badhan billow ku dhiga*/
nav {
  margin:auto;
  max-width:50em;
  border-bottom:1px solid #000;
}

/*xogta Keenadiid aruuri*/
#fariin a {
  display:inline-block;
  position:fixed;
  top:-4px;
  padding:0.2em 1em;
  font-size:0.725em;
  text-decoration:none;
  border:1px solid #f00;
  color:#111;
  background-color:#fff;
}

nav header {
  display:flex;
  justify-content:space-between;
  align-items:center;
}

#faashan {
  padding:1px;
  border:1px solid #f00;
  border-radius:3.125em;
  font-size:0.3em;
}

#fariin a:hover {
  background-color:#f00;
}

#faashan:hover {
  background-color:#f00;
  cursor:pointer;
}

#badhan-kor {
  position:fixed;
  bottom:0em;
  right:0em;
  margin:1em;
  width:2em;
  padding:0.75em;
  border:1px solid #000000;
  text-align:center;
  text-decoration:none;
  line-height:0.875em;
  color:#000000;
  background-color:#ffffff;
}

#badhan-kor:hover {color:#ffffff;background-color:#000000;}

footer {
  display:flex;
  justify-content:space-between;
  margin:auto;
  max-width:50em;
  padding:1em;
  color:#c9c9c9;
}


@media only screen and (max-width:600px) {
  nav header {
    display:block;
    text-align:center;
  }
}
